<h1>萬寶路的超級書店</h1>

<%= link_to '新增書藉', new_book_path %>
<%= link_to '討論區', boards_path %>
<%= link_to '註冊', sign_up_users_path %>
<%= link_to '登入', sign_in_users_path %>

</br>
<table>
<thead>
<tr>
<td>書名</td>
<td>價格</td>
<td>註解</td>
</tr>
</thead>
<tbody>
<% @books.each do |book| %>
<tr>
<td><%= book.name %></td>
<td><%= book.price %></td>
<td><%= book.note %></td>
<td><%= link_to '編輯', edit_book_path(book) %></td>
<td><%= link_to '刪除', book_path(book), method: 'delete', data: { confirm: '確認刪除' } %></td>
</tr>
<% end %>
</tbody>
</table>